/* Colors */
$color-bg: #797979;
$title-font: #2f1b15;
$input-font: #231f20;
$base-font: #000000;
$link: #366897;
$subtitle: #3d3d3d;

/* Fonts */
$font-default: "PT Sans", sans-serif;
$courier: "Courier New", "Courier", serif;
