section.main__js
  h2.main__title Уровень владения JavaScript
  .js
    input.js__input(type="range" min="1" max="100" value="20")
    p.js__text Не владею
    p.js__text Использую готовые решения
    p.js__text Использую готовые решения и умею их переделывать
    p.js__text Пишу сложный JS с нуля
