section.main__personal
  img.main__img(src="img/title.png" alt="title")
  ul.personal
    li.personal__item
      label.personal__label(for="name") Полное ФИО
      input.personal__input(type="text" id="name" value="Плохотнюк Ольга Сергеевна")
    li.personal__item
      label.personal__label(for="birth") Год рождения
      input.personal__input(type="text" id="birth" value="1978")
    li.personal__item
      label.personal__label(for="location") Место жительства
      input.personal__input(type="text" id="location" value="г. Благовещенск, Россия")
    li.personal__item
      label.personal__label(for="skype") Скайп
      input.personal__input(type="text" id="skype" value="oplokhotnyuk")
    li.personal__item
      label.personal__label(for="mail") Почта
      input.personal__input(type="email" id="mail" value="oplokhotnyuk@gmail.com")
