section.main__projects
  h2.main__title.main__title--projects Какие у вас планы на будущее?
  p.main__description.main__description--projects Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
  ul.projects
    li.projects__item
      input.projects__input(type="radio" name="level" id="html" checked)
      label.projects__label(for="html") Верстать
    li.projects__item
      input.projects__input(type="radio" name="level" id="js")
      label.projects__label(for="js") Прокачиваться в JS
    li.projects__item
      input.projects__input(type="radio" name="level" id="office")
      label.projects__label(for="office") Менеджерство
    li.projects__item
      input.projects__input(type="radio" name="level" id="other")
      label.projects__label(for="other") Другое
