section.main__skills
  h2.main__title.main__title--skills Расскажите о себе чекбоксами
  p.main__description.main__description--skills Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
  ul.skills
    li.skills__item
      input.skills__input(type="checkbox" id="bem" checked)
      label.skills__label(for="bem") БЭМ/OOCSS
    li.skills__item
      input.skills__input(type="checkbox" id="pug")
      label.skills__label(for="pug") Pug(Jade)
    li.skills__item
      input.skills__input(type="checkbox" id="preprocessor" checked)
      label.skills__label(for="preprocessor") Stylus/LESS/SASS
    li.skills__item
      input.skills__input(type="checkbox" id="svg")
      label.skills__label(for="svg") Работаю с SVG
    li.skills__item
      input.skills__input(type="checkbox" id="semantic" checked)
      label.skills__label(for="semantic") Верстаю семантично
    li.skills__item
      input.skills__input(type="checkbox" id="a11y")
      label.skills__label(for="a11y") Accessibility (A11Y)
    li.skills__item
      input.skills__input(type="checkbox" id="es" checked)
      label.skills__label(for="es") ES2015/ES2016
    li.skills__item
      input.skills__input(type="checkbox" id="taskrunner" checked)
      label.skills__label(for="taskrunner") Gulp/GRUNT
    li.skills__item
      input.skills__input(type="checkbox" id="webpack")
      label.skills__label(for="webpack") Webpack
    li.skills__item
      input.skills__input(type="checkbox" id="webgl")
      label.skills__label(for="webgl") Дружу с WebGL
    li.skills__item
      input.skills__input(type="checkbox" id="jquery" checked)
      label.skills__label(for="jquery") jQuery
    li.skills__item
      input.skills__input(type="checkbox" id="angular")
      label.skills__label(for="angular") Знаю/изучаю Angular
    li.skills__item
      input.skills__input(type="checkbox" id="react")
      label.skills__label(for="react") Знаю/изучаю React
    li.skills__item
      input.skills__input(type="checkbox" id="node")
      label.skills__label(for="node") Знаю/изучаю Node.js
    li.skills__item
      input.skills__input(type="checkbox" id="git" checked)
      label.skills__label(for="git") Использую Git
    li.skills__item
      input.skills__input(type="checkbox" id="pp" checked)
      label.skills__label(for="pp") С глазомером всё ок
    li.skills__item
      input.skills__input(type="checkbox" id="blog")
      label.skills__label(for="blog") Читаю #[a( href="http://blog.csssr.ru" ) blog.csssr.ru]
    li.skills__item
      input.skills__input(type="checkbox" id="lazy" checked)
      label.skills__label(for="lazy") Я ленивый
    li.skills__item
      input.skills__input(type="checkbox" id="english" checked)
      label.skills__label(for="english") У меня хороший английский
